.main {
    margin: auto;
    width: 50%;
    padding-top: 30vh;
}

#logo {
    left: 90px;
    position: relative;
}

.searchbar input {
    width: 100%;
    border-radius: 50px;
}

.buttons {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.button {
    height: 50px;
    width: 40%;
    margin: 10px;
}

#button1, #button2 {

}